@import url("https://fonts.googleapis.com/css?family=Patrick+Hand&display=swap");

/* base */
html body {
  background: var(--main-background);
}

/* anchors */
a,
a:visited {
  color: var(--secondary);
  background-image: none;
  text-decoration: underline;
}

/* navbar */
nav a,
nav a:visited {
  color: var(--primary);
  text-decoration: none;
}

/* font */
h1, h2, h3, h4, h5, h6 {
  font-family: "Patrick Hand", sans-serif;
  font-weight: normal;
}

/* post list */
.post-list {
  font-size: 2em; 
}
.summary {
  margin-bottom: 0.1em; 
}

/* toc */
.toc {
  padding: 1em;
  margin-top: 1em;
}
.toc h2 {
  font-size: 1.3em;
}

/* table */
table {
  width: 100%;
  table-layout: fixed;
}
table td {
  overflow-wrap : break-word;
}

/* back-to-top button */
.to-top {
  opacity: 1;
  display: inline-block;
  padding: 1em;
  position: fixed;
  bottom: 1em;
  right: 1em;
}
.to-top .paper-btn {
  padding: .6em 1em;
  border-top-left-radius: 185px 160px;
  border-top-right-radius: 200px 195px;
  border-bottom-right-radius: 160px 195px;
  border-bottom-left-radius: 185px 190px
}
.to-top a:visited {
  color: var(--primary);
}
